img.card-img-top {
  height: 250px;
  object-fit: scale-down;
  /* object-fit: cover; */
}
.card:hover {
  transform: scale(1.05);
}
.card {
  cursor: pointer;
}
.modal-img {
  width: 100%;
  height: auto;
}
